body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20%;
    background-image: url(b4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    align-items: center;
    justify-content: center;   
    background-color: transparent;
    opacity: 1;

}

.container h1{
    color: rgb(6, 6, 6);
    margin-top: 0;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: transparent; /* Set the background color to transparent */
}

button{
    padding: 10px;
    background-color: transparent; /* Set the background color to transparent */
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

input[type="checkbox"] {
    margin-right: 10px;
}


.deleteButton {
    padding: 5px; /* Adjust padding to control button size */
    width: "10px";
    padding: 10px;
    border: 1px solid #ccc;
    background-color: transparent;
}

.deleteButton img {
    width: 16px; /* Adjust the width of the image */
    height: 16px; /* Adjust the height of the image */

}